.git
.gitignore
.gitmodules

.dockerignore
docker-compose.yml
Dockerfile

.rvmrc
.travis.yml
.projectile

initialize-development-environment.sh

Capfile
Procfile

README.md

Gemfile.lock
.bundle/*

doc/*
tmp/*
log/*

docker-volumes/*