default: &default
  adapter: mysql2
  host: db ## for running this without docker containers, comment this line (its for container binding)
  username: nakki
  password: nakki
  pool: 5

development:
  <<: *default
  database: nakkikone_development

test:
  <<: *default
  database: nakkikone_test

production:
  <<: *default
  database: <%= ENV['APP_DB_DATABASE'] %>
  username: <%= ENV['APP_DB_USERNAME'] %>
  password: <%= ENV['APP_DB_PASSWORD'] %>
