development:
  secret_token: foobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHIS
  secret_key_base: foobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHIS

test:
  secret_token: foobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHIS
  secret_key_base: foobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHISfoobarTOKENSREPLACETHIS

production:
  secret_token: <%= ENV['APP_SECRET_TOKEN'] %>
  secret_key_base: <%= ENV['APP_SECRET_KEY_BASE'] %>
