    {{#if isAdmin }}<a href="#admin" class="btn">Admin Sreen</a>{{/if}}
    {{#if parties }}
    <span class="dropdown">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Parties <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {{#each parties}}
        <li><a href="#party/{{ this.title }}">{{ this.title }}</a></li>
        {{/each}}
      </ul>
    </span>
    {{/if}}
    <span class="dropdown">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{ user.nick }} <span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="#edit-own-details">Edit Profile</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </span>
