<div class="row-fluid">
  <div class="span12"></div>
</div>
<div class="span1 hidden-phone"></div>
<article id="public" class="span10">
  <h1>There is no nakki, move along...</h1>
</article>
<div class="span1"></div>
